<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>User</th>
            <th>Date Post</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td><%= job.title %></td>
            <td><%= job.body %></td>
            <td><%= job.user.userHandle %></td>
            <td><%= job.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= link_to 'Show', job %>

                <% if current_user == job.user %>
                | <%= link_to 'Edit', edit_job_path(job) %> |
                <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </td>

        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>