<!DOCTYPE html>
<html>

<head>
    <title>Authentication App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
    <nav class="nav">
        <div class="container-fluid">
            <a href="/"><img src="<%= asset_path('logo3.png') %>" /></a>

            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/jobs">JOBS</a></li>

                <% if logged_in? %>
                <span style="float:right; margin-right:30px">
                    <li><a href=" /users/<%= current_user.id %>">MY PROFILE</a></li>
                    <li><a href="/logout" data-confirm="Are you sure?">LOG OUT</a></li>
                </span>

                <% else %>
                <span style="float:right; margin-right:30px">
                    <li><a href="/signup">SIGN UP</a></li>
                    <li><a href="/login">LOG IN</a></li>
                </span>
                <% end %>

            </ul>
        </div>
    </nav>

    <div class="container">
        <%= yield %>
    </div>
</body>

</html>